*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:root{
    --navbarHeight: 40px;

    /* Iframe Vars */

    --frame-height: 5px;
    
    --origin-width: 1200px;
    --origin-height: 900px;

    --scalar-x: 0.25;
    --scalar-y: 0.5;


    /* Colors */
    --burger-color: white;
    --burger-color-active: black;

    /* Animations */
    --const: 1;
}

/* Propiedades (variables personalizadas) */
@property --angulo {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --ColorAnimation1{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(255,0,255);
}
@property --ColorAnimation2{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0,255,255);
}
@property --BGAnimation1{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(51, 55, 85);
}
@property --BGAnimation2{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(51, 55, 85);
}

@property --length1{
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}
@property --length2{
    syntax: "<length>";
    inherits: false;
    initial-value: 7px;
}

/* Estilos generales */

a{
    text-decoration: none;
}
body, h1{
    margin: 0 !important;
}

/* Loader */
#wrap-loader{
    position: fixed;
    z-index: 15;

    background: linear-gradient(rgb(0, 0, 0), rgb(30, 1, 1));

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loader{
    display: flex;
    scale: 0.5;
    animation: loader 2s infinite linear;
}
#circle-1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ff00ff;

    opacity: 0.7;

    box-shadow: 0 0 10px 5px #ff77ff;

    animation: circle1 1s infinite linear forwards;
}
#circle-2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #00ffff;

    opacity: 0.7;

    box-shadow: 0 0 10px 5px #77ffff;

    animation: circle2 1s infinite linear forwards;
}

.loaded{
    animation: loaded 1s forwards;
}

/* Header */

#navbar{
    position: fixed;
    top: 0; left: 0;

    width: 100%;
    height: var(--navbarHeight);

    padding: 0 1rem;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;

    background-color: #000;
}

/* Progress Bar */
#nav-progress-bar{
    position: fixed;
    z-index: 9;

    width: 100%;
    height: var(--navbarHeight);

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow-x: scroll;
    overflow-y: hidden;
    
    font-family: 'Gelasio', serif;
    font-size: 0.9rem;

    -ms-overflow-style: none;
    scrollbar-width: none;
    
    transform-style: preserve-3d;

    background-color: #bbb;
    
    top: 0;

    transition: top 0.75s ease-in-out;
}
#nav-progress-bar::-webkit-scrollbar {
    display: none;
}

.link-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 15px;

    position: absolute;
    left: 0;

    min-width: max-content;
    width: 100%;
}
.bar-link{
    display: block;
    position: relative;

    text-align:  center;

    /* background-color: white; */
    margin: 0 15px;
    color: #575757b3;
    
    transition: color 0.25s ease-in-out;
}
.bar-link::before{
    content: "";
    position: absolute;
    
    width: 100%;
    height: 3px;

    top: 100%;

    background-color: rgb(0, 0, 0);
    z-index: 0;

    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

    transition: clip-path 1s ease-in-out;
}

.bar-link-focused{
    position: relative;
    color: rgb(0, 0, 0);
    z-index: 9;
}
.bar-link.bar-link-focused::before{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}


#link-welcome-section{
    color: white;
    font-family: 'Gelasio', serif;
    font-size: 1.2rem;
}

#welcome-section{

}

/* Burguer menu */
.burger-menu{
    z-index: -1;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 1rem;
}
.burger-menu > input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    position: absolute;
    text-align: center;
}

.burger-item-before{
    position: absolute;
    background-color: var(--burger-color);
    
    width: 20px;
    height: 2px;
    border-radius: 5px;

    transform: translateY(-7px);
    transition: rotate 0.25s ease-out, transform 0.25s ease-out 0.25s, background-color 0.5s ease-out 0.25s;
}
.burger-item{
    position: absolute;
    background-color: var(--burger-color);
    
    width: 20px;
    height: 2px;
    border-radius: 5px;

    transition: opacity 0.5s ease-out 0.25s;
}
.burger-item-after{
    position: absolute;
    background-color: var(--burger-color);
    
    width: 20px;
    height: 2px;
    border-radius: 5px;
    
    transform: translateY(7px);
    transition: rotate 0.25s ease-out, transform 0.25s ease-out 0.25s, background-color 0.5s ease-out 0.25s;
}

.burger-menu > input[type="checkbox"]:checked ~ .dropdown-content{
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.burger-menu > input[type="checkbox"]:checked ~ .burger-item-before{
    transform: translateY(0) scale(0.75);
    rotate: -45deg;
    background-color: var(--burger-color-active);

    transition: background-color 0.5s ease-in-out, transform 0.25s ease-in-out, rotate 0.25s ease-in-out 0.25s;
}
.burger-menu > input[type="checkbox"]:checked ~ .burger-item{
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.burger-menu > input[type="checkbox"]:checked ~ .burger-item-after{
    transform: translateY(0) scale(0.75);
    rotate: 45deg;
    background-color: var(--burger-color-active);

    transition: background-color 0.5s ease-in-out, transform 0.25s ease-in-out, rotate 0.25s ease-in-out 0.25s;
}

/* Link de perfil y sublink*/

.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    font-family: 'Open Sans';
    font-size: 1.25rem;

    /* background: linear-gradient(to right, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42)); */
    
    margin: 1rem 0;

    color: #DDD;
    
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#iconic-link{
    /* background-color: #3FDC5D; */
    background: rgb(63,220,93);
    background: linear-gradient(90deg, rgba(63,220,93,1) 0%, rgba(13,44,19,1) 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 80px;

    margin: 0 1rem;

    color: #000000;

    border-radius: 50%;

    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.7);
}

.dropdown-content{
    display: flex;
    position: absolute;

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, rgb(15, 55, 15), #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, rgb(15, 55, 15), #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    top: 0; right: 0;

    width: 100vw;
    height: 100vh;

    z-index: -10;

    padding-top: var(--navbarHeight);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(100vw);    
    opacity: 0;
    
    transition: transform 0.5s ease-out, opacity 0.1s ease-out 0.5s;
    
}
.dropdown-content::before{
    content: "";
    position: absolute;

    width: 100%;
    height: var(--navbarHeight);

    top: 0; left: 0;

    
    background: linear-gradient(45deg, rgba(5,5,5,0) 50%, rgba(220, 200, 255, 0.3) 100%);
    
}


/* Nav pointer */
#nav-pointer{
    position: fixed;

    width: 100%;
    height: 2vh;

    z-index: 9;

    top: var(--navbarHeight);
    
    opacity: 0.7;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    background:-webkit-repeating-linear-gradient(45deg, #575757 var(--length1), #000000 var(--length2));
    background:-o-repeating-linear-gradient(45deg, #575757 var(--length1), #000000 var(--length2));
    background:-moz-repeating-linear-gradient(45deg, #575757 var(--length1), #000000 var(--length2));
    background:repeating-linear-gradient(45deg, #575757 var(--length1), #000000 var(--length2));

    animation: positionBar 10s infinite linear reverse;
}
#pointer{
    position: fixed;

    width: 100%;
    height: 2vh;

    right: 100%;

    background:-webkit-repeating-linear-gradient(-45deg, #08000f 0px, #998c00 7px);
    background:-o-repeating-linear-gradient(-45deg, #08000f 0px, #998c00 7px);
    background:-moz-repeating-linear-gradient(-45deg, #08000f 0px, #998c00 7px);
    background:repeating-linear-gradient(-45deg, #08000f 0px, #998c00 7px);

    clip-path: polygon(0 100%, 0 0, calc(100% - 7px) 0, 100% 50%, calc(100% - 7px) 100%);

    transition: right 1.25s cubic-bezier(1,-0.08,.52,1.02);
}



main{
    color: #ddd;
    font-family: 'Gelasio', serif;

    background: rgb(25,25,25);
    background: linear-gradient(-45deg, rgba(25,25,25,1) 0%, rgba(0,0,80,1) 100%);

    overflow-x: hidden;
}

/* Welcome Section */
#welcome-section{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));     */

    padding-top: var(--navbarHeight);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.7) inset;
    -moz-box-shadow:  0px 0px 100px 0px rgba(0,0,0,0.7) inset;
    -webkit-box-shadow:  0px 0px 100px 0px rgba(0,0,0,0.7) inset;
}
.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    font-size: 1rem;

    padding: 1rem;
    font-weight: 800;
}
#welcome-title{
    
    background: #000000;
    
    background: -webkit-linear-gradient(var(--angulo),
    var(--ColorAnimation1) 0%,
    var(--ColorAnimation2) 50%,
    var(--BGAnimation1) 50%,
    var(--BGAnimation2) 100%);

    background: conic-gradient( from var(--angulo),
    var(--ColorAnimation1) 0%,
    var(--ColorAnimation2) 50%,
    var(--BGAnimation1) 50%,
    var(--BGAnimation2) 100%);

        
    -webkit-background-clip: text;
    color: transparent;

    background-size: 200% 200%;
    background-position: center;

    backdrop-filter: blur(10px);

    /* animation: rotate 20s cubic-bezier(.11,.74,.81,.16) infinite; */
    animation: rotate 20s cubic-bezier(.81,-0.99,.56,1.88) infinite;
}
#name{
    display: block;
    font-size: 2rem;

    margin: 0.5rem 0;

    text-shadow: 0px 0px 4px rgba(255,255,255,0.25);
}
#description{
    margin: 4rem 1.5rem;
    color: black;
    text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.4);
}



/* Responsive Iframe */

.wrap-frame-wrap{
    width: 100%;
    height:var(--frame-height);

    overflow: hidden;
    position: relative;
}
.frame-wrap{
    position: absolute;
    width: var(--origin-width);
    height: var(--origin-height);

    transform: scale(var(--scalar-x));

    transform-origin: top left;
}
.project-tile{
    width: 100%;
    height: 100%;
    border: 0;
}
.frame-link{
    position:absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
}


/* Animated frames scrolling */
.project-section{
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    /* margin: 2rem 0; */
    padding: 1rem 0.5rem;
    padding-top: var(--navbarHeight);

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.project-title{
    position: absolute;
    top: 0; left: 0;

    width: 100%;
    
    padding: 1rem;
    padding-top: calc(var(--navbarHeight) * 3);

    text-align: center;
    font-size: 2rem;
}
.project-frame{
    overflow: visible !important;
    /* position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; */
    /* padding: 5rem; */
    position: relative;
    top: var(--navbarHeight);
}

#landing-page{
    background: rgb(15,10,11);
    background: linear-gradient(calc(var(--orientation-y) * 1deg + 45deg), rgba(15,10,11,1) 0%, rgba(64,18,18,1) 25%, rgba(13,10,11,0.9755252442773985) 50%, rgba(64,18,18,1) 75%, rgba(15,10,11,1) 100%);

    text-shadow: 0 0 10px rgba(80, 0, 100, 1);
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.7) inset;
    -moz-box-shadow:  0px 0px 100px 0px rgba(0,0,0,0.7) inset;
    -webkit-box-shadow:  0px 0px 100px 0px rgba(0,0,0,0.7) inset;
}

#documentation-page{
    background: #000000;

    background: -webkit-linear-gradient(var(--angulo), #230034, #0a0a00);
    background: linear-gradient(var(--angulo), #230034, #0a0a00);
    
    animation: rotate 20s cubic-bezier(.20,.80,.80,.20) infinite;
}
#documentation-page > h1{
    visibility: hidden;
    font-size: 1.8rem;
}

#survey-page{
    background: rgb(0, 10, 20);
    box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.7) inset,0px 80px 40px 20px rgba(0,0,0,0.69) inset;
    
    -webkit-box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.7) inset, 
    0px 80px 40px 20px rgba(0,0,0,0.69) inset;
    -moz-box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.7) inset,
    0px 80px 40px 20px rgba(0,0,0,0.69) inset;

}

#survey-page > h1{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

#about-me{
    background-color: purple;
}

/* Media Querys */
@media (min-width: 550px){
    .dropdown-content{
        max-width: 50%;
        transition: transform 0.5s ease-out 0.25s, opacity 0.1s ease-out 0.75s;
    }

    .dropdown-content::after{
        content: "";
        position: absolute;

        top: 0; right: 100%;

        height: 100vh;
        width: 50vw;

        z-index: -10;
        transform: translateZ(-1px);

        opacity: 0;

        background-color: rgb(0, 0, 0);
        transition: opacity 0.25s ease-out;
    }

    .burger-menu > input[type="checkbox"]:checked ~ .dropdown-content::after{
        opacity: 0.7;
        transition: opacity 0.5s ease-in-out 1s;
    }


    .project-frame{
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 800px){
    .dropdown-content{
        max-width: 25%;
    }
    .dropdown-content::after{
        width: 75vw;
    }

    .project-frame{
        width: 40%;
    }
}



/* Js Classes */
.scrollFade-notVisible{
    overflow: hidden;
    opacity: 0;
    transform: translateX(20px) translateY(0px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.scrollFade-Visible{
    opacity: 1;
    transform: translateX(0px) translateY(0px);

    transition: opacity 0.5s ease-in-out 0.5s, transform 0.3s ease-in-out 0.5s;
}

/* Gyroscopyc 3d animated Card */
.follow-card{
    position: relative;
    
    transition: transform 0.5s ease-out;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);
}
.follow-card{
    
    /* --rotateY:calc( var(--orientation-y) * 1deg);
    --rotateX:calc( var(--orientation-x) / 50 * 20deg); */

    --rotateY: calc(var(--orientation-y) * 1deg);
    --rotateX: calc(var(--orientation-x) * 1deg);

    transform: rotateX(var(--rotateX))
               rotateY(var(--rotateY));

    transition: transform 0s ease-in-out;

}
.follow-card::before{
    
    /* --rotateY:calc( var(--orientation-y) / 50 * 20deg);
    --rotateX:calc( var(--orientation-x) / 50 * 20deg); */

    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;

    /* background: linear-gradient(calc(var(--orientation-y) / 90 * 1deg), rgba(0,0,0,0) 30%, rgba(255,255,255,0.5) 50%, rgba(0,0,0,0) 70%); */
    background: linear-gradient(calc(var(--orientation-y) * 1deg), rgba(0,0,0,0) 30%, rgba(255,255,255,0.5) 50%, rgba(0,0,0,0) 70%);
    
    opacity: 0.25;
    filter: blur(90px);
    
    /* transform: translateY(calc(var(--orientation-x) / 50 * 20px)); */
    transform: translateY(calc(var(--orientation-x) / 50 * 20px));


    transition: opacity 0.5s ease-in-out;
}
.follow-card::before{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

/* Cursor 3d animated Card */
@media (pointer: fine) {
.follow-card{
    position: relative;
    
    transition: transform 0.5s ease-out;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);

    transform: rotateX(0)
               rotateY(0);    
    
    transition: transform 1s ease-in-out;

}
.follow-card:hover{

    transform-origin: center;

    --rotateY:calc( var(--mouse-x) * 40deg - 20deg);
    --rotateX:calc( var(--mouse-y) * 40deg - 20deg);

    transform: rotateX(var(--rotateX))
               rotateY(var(--rotateY));

    transition: transform 0s ease-in-out;
    /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */

}
.follow-card::before{
    --rotateY:calc( var(--mouse-x) * 40deg - 20deg);
    --rotateX:calc( var(--mouse-y) * 40deg - 20deg);

    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(calc(var(--mouse-x) * -40deg + 20deg), rgba(0,0,0,0) 30%, rgba(255,255,255,0.5) 50%, rgba(0,0,0,0) 70%);    
    opacity: 0.25;
    filter: blur(90px);
    
    transform: translateY(calc(var(--mouse-y) * 40px - 20px));

    transition: opacity 0.5s ease-in-out;
}
.follow-card:hover::before{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
#landing-page{
    background: rgb(15,10,11);
    background: linear-gradient(calc(var(--mouse-x) * -40deg + 20deg + 45deg), rgba(15,10,11,1) 0%, rgba(64,18,18,1) 25%, rgba(13,10,11,0.9755252442773985) 50%, rgba(64,18,18,1) 75%, rgba(15,10,11,1) 100%);
}
#survey-page{
    background: rgb(0, calc(var(--mouse-x) * 10 + 10), calc(var(--mouse-x) * 20 + 20));
}
#documentation-page{
    background: linear-gradient(calc(var(--angulo) + var(--mouse-x) * 100deg), #230034, #0a0a00);
    
    animation: rotate 20s cubic-bezier(.20,.80,.80,.20) infinite;
}

.dropdown-content{
    background: linear-gradient(calc(var(--mouse-x) * -40deg + 20deg - 45deg), rgb(15, 55, 15), #000000);
}

}

/* Sections Fullscreen Scroll */
.main-content{
    position: relative;
    width: 100%;
    height: 200vh;
    background-color: red;
}

.fullscreenScroll{
    position: fixed;
    top: 100vh; left: 0;
    opacity: 0;

    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.fullscreenScroll:nth-child(1){
    top: 0;
    opacity: 1;
}

/* Animations */
@keyframes rotate{
    0%{
        --angulo: 0deg;
        --ColorAnimation1: rgb(255,0,255);
        --ColorAnimation2: rgb(0, 255, 255);
        --BGAnimation1:rgb(0, 0, 0);
        --BGAnimation2:rgb(255, 255, 255);
    }

    50%{
        --angulo: 360deg;
        --ColorAnimation1:rgb(0, 255, 255);
        --ColorAnimation2:rgb(255, 0, 255);
        --BGAnimation1:rgb(255, 255, 255);
        --BGAnimation2:rgb(0, 0, 0);
    }

    100%{
        --angulo: calc(360deg * 2);
        --ColorAnimation1: rgb(255,0,255);
        --ColorAnimation2: rgb(0, 255, 255);
        --BGAnimation1:rgb(0, 0, 0);
        --BGAnimation2:rgb(255, 255, 255);
    }
}

/*Glitch Text Header*/
.glitch{
    font-size: 1.8rem;

    text-shadow: 
    0.05em -0.04em 0 rgba(255,0,0,0.75),
    -0.045em 0.05em 0 rgba(0,255,0,0.75),
    0.025em -0.015em 0 rgba(0,0, 255, 0.75);

    visibility: visible;

    animation: Glitch 700ms infinite;
}

.glitch span{
    position: absolute;
    top: calc(var(--navbarHeight) * 3);
    left: 0;
    bottom: 0;
    right: 0;
}
.glitch span:nth-child(2){
    z-index: 1;
    animation: Fracture 5s infinite;
    transform: translate(-0.05em, -0.05em);
    opacity: 0.7;
    color: rgb(173, 173, 173);
}
.glitch span:first-child{
    animation: Glitch 550ms infinite;
    clip-path: inset(0 0 55% 0);
    transform: translate(-0.05em, -0.025em);
    opacity: 0.7;
}
.glitch span:last-child{
    animation: Glitch 350ms infinite;
    clip-path: inset(55% 0 0 0);
    transform: translate(0.05em, 0.025em);
    opacity: 0.7;
}

@keyframes Glitch {
    0%{
        text-shadow:
        0.05em -0.04em 0 rgba(255,0,0,0.75),
        -0.045em 0.05em 0 rgba(0,255,0,0.75),
         0.025em -0.015em 0 rgba(0,0, 255, 0.75);
    }
    14%{
        text-shadow:
        0.05em -0.04em 0 rgba(255,0,0,0.75),
        -0.045em 0.05em 0 rgba(0,255,0,0.75),
         0.025em -0.015em 0 rgba(0,0, 255, 0.75);
    }
    15%{
        text-shadow:
        0.04em 0.067em 0 rgba(255,0,0,0.75),
        0.015em -0.095em 0 rgba(0,255,0,0.75),
        -0.048em 0.075em 0 rgba(0,0, 255, 0.75);
    }
    49%{
        text-shadow:
        0.05em -0.04em 0 rgba(255,0,0,0.75),
        -0.045em 0.05em 0 rgba(0,255,0,0.75),
         0.025em -0.015em 0 rgba(0,0, 255, 0.75);
    }
    50%{
        text-shadow:
        -0.095em -0.054em 0 rgba(255,0,0,0.75),
        0.01em 0.04em 0 rgba(0,255,0,0.75),
        0.024em 0.069em 0 rgba(0,0, 255, 0.75);
    }
    99%{
        text-shadow:
        0.05em -0.04em 0 rgba(255,0,0,0.75),
        -0.045em 0.05em 0 rgba(0,255,0,0.75),
         0.025em -0.015em 0 rgba(0,0, 255, 0.75);
    }
    100%{
        text-shadow:
        -0.085em 0.54em 0 rgba(255,0,0,0.75),
        0.015em -0.035em 0 rgba(0,255,0,0.75),
        -0.065em 0.095em 0 rgba(0,0, 255, 0.75);
    }
}
@keyframes Fracture {
    0%{
        clip-path: inset(98% 0 0 0);
    }
    
    100%{
        clip-path: inset(0 0 98% 0);
    }
    
}
@keyframes positionBar {

    0%{
        --length1: 0px;
        --length2: 7px;
    }
    
    100%{
        --length1: 133px;
        --length2: 140px;
    }
    
}

@keyframes loaded {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}
@keyframes circle1 {
    0%{
        transform: translateX(0px) scale(1) translateZ(0px);
    }

    25%{
        transform: translateX(100px) scale(0.75) translateZ(-1px);
        opacity: 0.7;
    }

    50%{
        transform: translateX(200px);
    }

    75%{
        transform: translateX(100px) scale(1.25) translateZ(1px);
        opacity: 0.9;
        z-index: 2;
    }

    100%{
        transform: translateX(0px) scale(1) translateZ(0px);
    }
}
@keyframes circle2 {
    0%{
        transform: translateX(0px) scale(1) translateZ(0px);
    }

    25%{
        transform: translateX(-100px) scale(1.25) translateZ(1px);
        z-index: 2;
        opacity: 0.9;
    }

    50%{
        transform: translateX(-200px);
    }

    75%{
        transform: translateX(-100px) scale(0.75) translateZ(-1px);
        z-index: 1;
        opacity: 0.7;
    }

    100%{
        transform: translateX(0px) scale(1) translateZ(0px);
    }
}
@keyframes loader {
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}